imgaug==0.4.0
matplotlib==3.5.2
numba==0.55.2
numpy==1.21.6
opencv-python==4.6.0.66
Pillow==9.2.0
progress==1.6
scipy==1.7.3
Shapely==1.8.2
tqdm
validators==0.20.0
timm==0.4.12
lmdb==1.2.1
pillow==10.0.1
nltk==3.6.2
natsort==7.1.1
wand==0.6.7
transformers==4.34.0
strsimpy==0.2.1
tiktoken